<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Website</title>
    <link rel="stylesheet" href="/main/style.css">
    <link rel="stylesheet" href="/main/staticStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container-nav">
        <div class="header-content">
            <p id="name_nav_bar">Blog Breeze</p>
            <nav>
                <div class="nav_menu" id="nav_menu">
                <ul>
                    <li><a href="/">Blog</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    
                    <div id="close"><i class="fa-solid fa-xmark"></i></div>
                </ul>
            </div>
            
                <div id="toggle"><i class="fa-solid fa-bars"></i></div>
            </nav> 
            <button type="submit" class="button btn-header"><a href="/blog_create">Create Your Blog</a></button>
        </div>
    </div>

<main>
