<%- include("partials/header.ejs") %>
    <div class="container-about">
    <h1 class="about-title">About</h1>
    <p class="p-about">Welcome to Blog Breeze!
        <br><br>
        At Blog Breeze, our vision is to empower content creators and readers through an intuitive and dynamic blogging platform. Built with EJS, Node.js, and Express, our platform is designed to seamlessly handle the full spectrum of blogging activities—whether it's adding fresh content, editing existing posts, or managing and viewing blogs with ease. On our website, you'll find insightful articles, expert reviews, engaging community forums. Our aim is to provide you with valuable information, inspiration, a platform for expression in a way that's  informative, interactive.</p>
        
        
        <h2 class="about-h2">Join Us</h2>
        <p class="p-about">We invite you to explore Blog Breeze and become a part of our growing community. Feel free to join discussions, follow us on social media. Your feedback and participation are what drive us forward.</p>
    </div>

<%- include("partials/footer.ejs") %>